.container {
    display: flex;
    align-items: center;
  }
  
  form {
    /* form styles go here */
    
  }
  
  button {
    margin-left: 875px;
    margin-top: 700px;
    opacity: 0;
    /* button styles go here */
  }
  .deneme{
    margin-left: 70px;
    opacity: 0;

  }
  .yazi{
    margin-top: 600px;
    margin-left: 900px;
    
  }