  form {
    /* form styles go here */
    
  }
  
  button {
   
    /* button styles go here */
  }
  .deneme{
    margin-top: 740px;
    margin-left: 920px;
    opacity: 0;

  }
  .yazi{
    margin-top: 600px;
    margin-left: 900px;
    
  }